<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace对应接口的全类名 -->
<mapper namespace="com.neuedu.model.mapper.FtMapper">
	
    
    
    <select id="selectXuanhuan1"  resultType="Novel">
        select * from novel where sid in (select sid from secondtype where fid=1)
    </select> 
    
    <select id="selectXuanhuan2"  resultType="Novel">
        select * from novel where sid=(select sid from secondtype where fid=1)
    </select>
    
    <select id="selectXuanhuan3"  resultType="Novel">
        select * from novel where sid=(select sid from secondtype where fid=1)
    </select>
    
    
	
	
</mapper>


















