


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的书架_个人中心_起点中文网</title>
    <meta name="keywords" content="小说,小说网,玄幻小说,武侠小说,都市小说,历史小说,网络小说,言情小说,青春小说,原创网络文学">
    <meta name="description" content="小说阅读,精彩小说尽在起点中文网. 起点中文网提供玄幻小说,武侠小说,原创小说,网游小说,都市小说,言情小说,青春小说,历史小说,军事小说,网游小说,科幻小说,恐怖小说,首发小说,最新章节免费">
    <link rel="icon" type="image/x-icon" href="//qidian.gtimg.com/qdp/img/favicon.0.4.ico">
    
<link rel="stylesheet" data-ignore="true" href="//qidian.gtimg.com/c/=/qdp/iconfont/symbols.0.1.css,/qdp/css/common.0.80.css,/qdp/css/shelf/index.0.40.css,/qdp/icon/common/sprite.0.1.css,/qdp/font/index.0.11.css" />

    <script>document.domain ='qidian.com';</script>
    <script>var speedTimer = [], speedZero = new Date().getTime();</script>
</head>
<body class="shelf">
            <div class="personal-header" data-l1="1">
                <div class="header-wrapper">
                    <div class="header-logo">
                        <a href="/">个人中心</a>
                    </div>
                    <ul class="header-nav">
                        <li class="header-nav-li">
                            <a href="/" class="header-nav-a " accesskey="1" data-eid="qd_M01"><i class="iconfont icon-home"></i>我的首页</a>
                        </li>
                        <li class="header-nav-li" id="headerNav">
                            <a href="/bookcase" class="header-nav-a active" accesskey="2" data-eid="qd_M02"><i class="iconfont icon-book"></i>我的书架</a>
                        </li>
                        <li class="header-nav-li">
                            <a href="/message/sys" class="header-nav-a " accesskey="3" data-eid="qd_M03"><i class="iconfont icon-msg"></i><i class="qdp-unread elUnread dn">未读</i>消息中心</a>
                        </li>
                        <li class="header-nav-li">
                            <a href="http://game.qidian.com" class="header-nav-a" target="_blank" accesskey="4" data-eid="qd_M04"><i class="iconfont icon-game"></i>游戏</a>
                        </li>
                    </ul>
                    <a href="/" id="headerLog" class="header-log" data-eid="qd_M06">
                        
                        书友20190801104949964
                        
                    </a>
                    <div class="header-goHome">
                        <a href="//www.qidian.com" target="_blank" accesskey="5" data-eid="qd_M05">起点首页</a>
                    </div>
                </div>
                <ul id="headerDropList" class="header-drop">
                    <li>
                        <a href="https://pay.yuewen.com/pc/index?appId=10&areaId=1&userGuid=1771947419&returnUrl=https%3A%2F%2Fmy.qidian.com" target="_blank" data-guid="1771947419" class="elNewToPay" data-eid="qd_M07">充值</a>
                    </li>
                    <li>
                        <a href="/setting" data-eid="qd_M08">个人设置</a>
                    </li>
                    <li>
                        <a href="/user/336402645" data-eid="qd_M09">我的主页</a>
                    </li>
                    <li>
                        <a href="//www.qidian.com/help/kf" target="_blank" data-eid="qd_M10">客服中心</a>
                    </li>
                    <li>
                        <a href="javascript:;" id="elLoginOut" data-eid="qd_M11">退出</a>
                    </li>
                </ul>
            </div>
        <div class="qdp-wrapper">
		<div class="personal-sideBar" data-l1="2">
			<ul class="sideBar-group">
				<li class="">
					<a href="/bookcase/recent" class="sideBar-list-a" data-eid="qd_M185">最近阅读</a>
				</li>
			</ul>
			<ul class="sideBar-group" id="tabView">
				<li id="elIndex" class="active">
					<a href="/bookcase" class="sideBar-list-a" title="默认分组" data-eid="qd_M186">默认分组</a>
					<a href="javascript:;" id="btnNewGroup" class="icon icon-add ui-tips" title="新建分组" data-eid="qd_M189">新建分组</a>
				</li>
				
			</ul>
			<ul class="sideBar-group">
				<li class="">
					<a href="/bookcase/auto" class="sideBar-list-a" title="自动订阅" data-eid="qd_M188">自动订阅</a>
				</li>
			</ul>
		</div>
    <div class="qdp-content" data-l1="3">
        <form id="shelfSearchForm" class="shelf-search qdp-border" action="/bookcase/search" target="_blank">
            <input type="text" name="kw" class="shelf-search-input" placeholder="输入作品名或作家名">
            <input type="submit" id="shelfSearch"  class="clip"  data-eid="qd_M192">
            <label for="shelfSearch" class="shelf-search-submit ui-button" data-eid="qd_M192">搜书架</label>
        </form>
        
        <div class="shelf-content" id="addToShelfForm" data-l2="2">
            <div id="tabView" class="ui-tab-tabs">
                <a href="javascript:" class="checked" id="elEditTab" data-rel="tabTarget1">编辑推荐</a>
                <a href="javascript:"  id="elGameTab" data-rel="tabTarget2">游戏推荐</a>
            </div>
            <label class="recmd-add blue unloading" data-l3="1"><a class="ibookclose" id="closeRecBook" data-eid="qd_M193" href="javascript:"><i class="iconfont icon-close"></i></a></label>
            <div class="ui-tab-contents shelf-content-wrapper">
                <div id="tabTarget1" class="ui-tab-content checked">
                    <ul class="recmd-list" id="elRecList1" data-l3="1" style="height: 169px;">
                        
                            
                                <li class="recmd-list-item">
                                    <input type="checkbox" value="1015681845" checked="">
                                    <a href="//book.qidian.com/info/1015681845" target="_blank" class="recmd-list-a"  data-eid="qd_M194" data-bid="1015681845">
                                        <div class="recmd-commet">穿越平行世界，从向往的生活开始，成为传奇娱乐天王！</div>
                                        <img src="//qidian.qpic.cn/qdbimg/349573/1015681845/180"  alt="向往的生活之龙套巨星封面图" class="recmd-list-img">
                                        <div class="recmd-list-title" data-eid="qd_M195" data-bid="1015681845" >向往的生活之龙套巨星</div>
                                    </a>
                                </li>
                            
                                <li class="recmd-list-item">
                                    <input type="checkbox" value="1015686935" checked="">
                                    <a href="//book.qidian.com/info/1015686935" target="_blank" class="recmd-list-a"  data-eid="qd_M194" data-bid="1015686935">
                                        <div class="recmd-commet">当秦风掀起了神话大世，六合之内苍生迎来了新的命运起伏。</div>
                                        <img src="//qidian.qpic.cn/qdbimg/349573/1015686935/180"  alt="浩瀚仙秦封面图" class="recmd-list-img">
                                        <div class="recmd-list-title" data-eid="qd_M195" data-bid="1015686935" >浩瀚仙秦</div>
                                    </a>
                                </li>
                            
                                <li class="recmd-list-item">
                                    <input type="checkbox" value="1015469879" checked="">
                                    <a href="//book.qidian.com/info/1015469879" target="_blank" class="recmd-list-a"  data-eid="qd_M194" data-bid="1015469879">
                                        <div class="recmd-commet">游戏策划继承了一颗星球，于是他将其做成了游戏，引渡地球玩家</div>
                                        <img src="//qidian.qpic.cn/qdbimg/349573/1015469879/180"  alt="我是狗策划封面图" class="recmd-list-img">
                                        <div class="recmd-list-title" data-eid="qd_M195" data-bid="1015469879" >我是狗策划</div>
                                    </a>
                                </li>
                            
                                <li class="recmd-list-item">
                                    <input type="checkbox" value="1015310665" checked="">
                                    <a href="//book.qidian.com/info/1015310665" target="_blank" class="recmd-list-a"  data-eid="qd_M194" data-bid="1015310665">
                                        <div class="recmd-commet">虽然我在洪荒是弟弟，但我在别的世界可以抖的很霸道</div>
                                        <img src="//qidian.qpic.cn/qdbimg/349573/1015310665/180"  alt="洪荒世界的蜘蛛大佬封面图" class="recmd-list-img">
                                        <div class="recmd-list-title" data-eid="qd_M195" data-bid="1015310665" >洪荒世界的蜘蛛大佬</div>
                                    </a>
                                </li>
                            
                                <li class="recmd-list-item">
                                    <input type="checkbox" value="1015792398" checked="">
                                    <a href="//book.qidian.com/info/1015792398" target="_blank" class="recmd-list-a"  data-eid="qd_M194" data-bid="1015792398">
                                        <div class="recmd-commet">精灵降临现实，方缘成为最强训练家！</div>
                                        <img src="//qidian.qpic.cn/qdbimg/349573/1015792398/180"  alt="精灵掌门人封面图" class="recmd-list-img">
                                        <div class="recmd-list-title" data-eid="qd_M195" data-bid="1015792398" >精灵掌门人</div>
                                    </a>
                                </li>
                            
                                <li class="recmd-list-item">
                                    <input type="checkbox" value="1015755915" checked="">
                                    <a href="//book.qidian.com/info/1015755915" target="_blank" class="recmd-list-a"  data-eid="qd_M194" data-bid="1015755915">
                                        <div class="recmd-commet">致那些曾经仗剑走天涯的寻梦人们：愿你出走半生，归来仍是少年！</div>
                                        <img src="//qidian.qpic.cn/qdbimg/349573/1015755915/180"  alt="重生之最好时代封面图" class="recmd-list-img">
                                        <div class="recmd-list-title" data-eid="qd_M195" data-bid="1015755915" >重生之最好时代</div>
                                    </a>
                                </li>
                            
                        
                    </ul>
                </div>
                <div id="tabTarget2" class="ui-tab-content">
                    <ul class="recmd-list ui-loading" id="elRecList2" data-l3="1" style="height: 169px;">
                    </ul>
                </div>
            </div>
        </div>
        
            <div class="qdp-border table-x shelf-default shelf-table" data-l2="3" >
                <div class="table-msg" data-l3="2">
                    <h2 class="shelf-title" id="shelfTitle" data-gid="-100">默认分组</h2>共<strong class="dark ml5 mr5" id="elMoTotal">0</strong><span id="shelfAmount">本书籍</span>
                    
                </div>
                <div class="table-size" data-l3="2">
                    <table id="shelfTable" class="ui-table table-checkbox" data-count="0" >
                        <thead>
                          <tr>
                            <th scope="col"><input type="checkbox" id="chkBookNameAll" name="bookname" value="all" disabled ><label class="ui-checkbox" for="chkBookNameAll"></label></th>
                            <th scope="col" >书名/最近更新章节</th>
                            <th scope="col" width="70">更新时间</th>
                            <th scope="col" width="90">作者</th>
                            <th scope="col" width="60">阅读进度</th>
                            <th scope="col" width="20">&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                    </table>
                    
                    <div class="table-null-x">分组内暂无相关书籍</div>
                    
                    <div class="ui-loading" style="display:none;"><i class="ui-loading-icon"></i></div>
                    <div class="style" style="height:51px;">
                        <div id="tableFixedFoot" class="shelf-foot">
                            <div class="shelf-foot-wrapper">
                                <table class="ui-table table-checkbox">
                                    <thead>
                                      <tr>
                                        <th scope="col" style="line-height:50px;"><input type="checkbox" id="chkBookNameAll2" name="bookname" value="all" disabled ><label class="ui-checkbox" for="chkBookNameAll2"></label></th>
                                        <th scope="col" style="line-height:50px;">
                                            <label for="chkBookNameAll2" class="mr12">全选</label><a href="javascript:;" class="ml12 mr12" id="elToTop" role="button" data-eid="qd_M208">置顶</a><a href="javascript:;" class="ml12 mr12" id="elMoveTo" role="button" data-eid="qd_M209">移动至</a><a href="javascript:;" class="ml12 mr12" id="elDelete" role="button" data-eid="qd_M210">删除</a>
                                        </th>
                                      </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
    </div>
    <script id="tplGameRec" type="text/ejs-template">
        <% if(gameAd && gameAd.length) { %>
        <% gameAd.forEach(function(obj, index){ var eNum=index+215; %>
        <li class="recmd-list-item">
            <a href="<%= obj.linkUrl %>" data-eid="qd_M<%= eNum %>" data-qd_dd_p1="1" data-rid="<%= index + 1 %>" target="_blank" class="recmd-list-a" >
                <div class="recmd-gamecommet"></div>
                <img src="<%= obj.imgUrl %>"  alt="<%= obj.title %>" class="recmd-list-gameimg">
                <div class="recmd-list-gametitle"><%= obj.title %></div>
            </a>
        </li>
        <% }) %>
        <% } %>
    </script>
    <script id="tplShelfGroup" type="text/ejs-template">
    <% listInfo.forEach(function(obj, index){ %>
    <tr>
        <td class="col1"><input type="checkbox" class="elWcheckbox" id="chkBookName<%= index %>" name="bookname" value="<%= obj.bid %>"><label class="ui-checkbox" for="chkBookName<%= index %>"></label></td>
        <td class="col2"><span class="shelf-table-name"><% if(obj.isTop){ %><a href="javascript:;" class="icon icon-top shelf-badge-top jsTopSetIcon"
        data-id="<%= obj.bid %>" data-num="0"></a><% } %>
        <b>
            <% if(obj.cateName){ %><a href="<%= obj.cateLink %>" data-eid="qd_M219"  target="_blank" class="fen-category">「<%= obj.cateName %>」</a><% } %>
            <% if(obj.form == 1 && obj.fineLayout == 1){ %>
            <a href="javascript:;" class="elJingpaiMore" title="<%= obj.bName %>" data-bid="<%= obj.bid %>" data-eid="qd_M198"><%= obj.bName %></a>
            <% } else { %>
            <a href="//book.qidian.com/info/<%= obj.bid %>" target="_blank" title="<%= obj.bName %>" data-bid="<%= obj.bid %>" data-eid="qd_M198"><%= obj.bName %></a>
            <% } %>
        </b>
        <% if(obj.cnameLast){ %>
        <% if(obj.form == 1 && obj.fineLayout == 1){ %>
        <a href="javascript:;" data-cid="<%= obj.cidLast %>" class="shelf-table-chapter blue elJingpaiMore" target="_blank" title="<%= obj.cnameLast %>"><%= obj.cnameLast %></a>
        <% } else { %>
        <a href="<%= obj.latestLink %>" data-eid="qd_M218" data-cid="<%= obj.cidLast %>" class="shelf-table-chapter blue" target="_blank" title="<%= obj.cnameLast %>"><%= obj.cnameLast %></a>
        <% } %>
        <% } %>
        </span><% if(obj.isVip == 1) { %><a href="//book.qidian.com/subscribe/<%= obj.bid %>" target="_blank" data-eid="qd_M199"><span class="shelf-badge-vip">VIP</span></a><% } %></td>
        <td class="col3 font12"><%= obj.timeStr %></td>
        <td class="col4">
            <% if(!obj.form){ %>
            <a href="/author/<%= obj.authorId %>" target="_blank" title="<%= obj.bAuth %>" class="shelf-table-author font12" data-eid="qd_M200" ><%= obj.bAuth %></a>
            <% } else { %>
            <a title="<%= obj.bAuth %>" class="font12" data-eid="qd_M200" ><%= obj.bAuth %></a>
            <% } %>
        </td>
        <% if(obj.form == 1 && obj.fineLayout == 1){ %>
            <% if(obj.isNewChapter) { %>
                <% if(obj.readCname) { %>
                <td class="col5"><a href="javascript:;" class="spTips font12 yesReadStatus elJingpaiMore" target="_blank" title="读至<%= obj.readCname %>" data-eid="qd_M201" data-cid="<%= obj.readCid %>">有更新</a></td>
                <% } else { %>
                <td class="col5"><a href="javascript:;" class="spTips font12 gray-unread elJingpaiMore" target="_blank" title="尚未阅读" data-eid="qd_M201" data-cid="<%= obj.readCid %>">尚未阅读</a></td>
                <% } %>
            <% } else { %>
                <td class="col5"><a href="javascript:;" class="spTips font12 noReadStatus elJingpaiMore" target="_blank" title="读至<%= obj.readCname %>" data-eid="qd_M202" data-cid="<%= obj.readCid %>">无更新</a></td>
            <% } %>
        <% } else { %>
            <% if(obj.isNewChapter) { %>
                <% if(obj.readCname) { %>
                <td class="col5"><a href="<%= obj.cLink %>" class="spTips font12 yesReadStatus" target="_blank" title="读至<%= obj.readCname %>" data-eid="qd_M201" data-cid="<%= obj.readCid %>">有更新</a></td>
                <% } else { %>
                <td class="col5"><a href="<%= obj.cLink %>" class="spTips font12 gray-unread" target="_blank" title="尚未阅读" data-eid="qd_M201" data-cid="<%= obj.readCid %>">尚未阅读</a></td>
                <% } %>
            <% } else { %>
                <td class="col5"><a href="<%= obj.cLink %>" class="spTips font12 noReadStatus" target="_blank" title="读至<%= obj.readCname %>" data-eid="qd_M202" data-cid="<%= obj.readCid %>">无更新</a></td>
            <% } %>
        <% } %>
        <% if(obj.form == 1 && obj.fineLayout == 1) { %>
            <td class="col6 shlef-menu"><a href="javascript:" class="blue iconfont icon-menu elJingpaiMore"></a></td>
        <% } else { %>
            <td class="col6 shlef-menu"><a href="javascript:" class="blue iconfont icon-menu"  data-target="forList<%= index %>" data-eid="qd_M203"></a>
                <div id="forList<%= index %>" class="ui-datalist">
                    <div class="ui-datalist-datalist">
                        <% if(obj.isTop){ %>
                        <a href="javascript:;" class="ui-datalist-option jsTopSet font12" data-id="<%= obj.bid %>" data-num="0" data-eid="qd_M204">取消置顶</a>
                        <% } else { %>
                        <a href="javascript:;" class="ui-datalist-option jsTopSet font12" data-id="<%= obj.bid %>" data-num="100">置顶</a>
                        <% } %>
                        <a href="javascript:;" class="ui-datalist-option jsMoveTo font12" data-id="<%= obj.bid %>" data-eid="qd_M205">移动至</a>
                        <% if(obj.form != 1){ %>
                        <% if(obj.isSub) { %>
                        <a href="javascript:;" class="ui-datalist-option jsUnRss font12" data-id="<%= obj.bid %>" data-cbid="<%= obj.cbid %>" data-eid="qd_M206">取消自动订阅</a>
                        <% } else { %>
                        <a href="javascript:;" class="ui-datalist-option jsRss font12" data-id="<%= obj.bid %>" data-cbid="<%= obj.cbid %>">自动订阅</a>
                        <% } %>
                        <% } %>
                        <a href="javascript:;" class="ui-datalist-option jsDel font12" data-id="<%= obj.bid %>" data-eid="qd_M207">删除</a>
                        <b class="arr arr-up">
                            <i class="arr-left"></i>
                            <i class="arr-right"></i>
                        </b>
                    </div>
                </div>
            </td>
        <% } %>
    </tr>
    <% }) %>
    </script>
    <script id="tplDialogGroupMove" type="text/ejs-template">
    <form class="table-x shelf-dialog-move" action="/ajax/BookShelf/Move" method="get" style="width:440px;">
        <div class="table-size">
            <div class="dialog-move">
                <!-- <input type="radio" id="newGroupId" name="groupId" value="" class="dialog-move-add"> -->
                <a href="javascript:;" class="blue" id="elNewGroup"><b>＋新建分组</b></a>
            </div>
            <div class="dialog-move-table">
                <table class="ui-table">
                    <tbody class="bg-white"></tbody>
                </table>
            </div>
            <div class="table-null-x dn">暂无自建分组</div>
            <div class="ui-loading"><i class="ui-loading-icon"></i></div>
            <textarea class="dn">
                <% listInfo.forEach(function(obj, index){ %>
                <tr>
                    <td class="col1"><%= obj.groupName %></td>
                    <td class="col2" width="100" align="right"><%= obj.bookCount %>本</td>
                    <td class="col3" width="20">
                        <input type="radio" name="gid" value="<%= obj.groupId %>" class="dialog-move-select">
                        <span class="icon icon-right"></span>
                    </td>
                </tr>
                <% }) %>
            </textarea>
            <input type="hidden" id="iptIDGroupFrom" name="bids">
            <input type="hidden" name="_csrfToken" value="" id="elMoveCsrf" >
         </div>
    </form>
    </script>
    <script id="tplGroupName" type="text/ejs-template">
    <div class="shelf-dialog-name">
        <h3><label for="iptNameEdit">分组名</label></h3>
        <form action="/ajax/BookShelf/AddGroup" method="post" class="qdp-form">
            <div class="ui-input-x" style="width:400px;">
                <input id="iptNameEdit" maxlength="20" required name="gname">
                <input type="hidden" id="elBids" name="bids">
                <input type="hidden" id="elType" name="type">
                <input type="hidden" name="_csrfToken" value="" id="elCsrfto" >
                <div class="ui-input"></div>
            </div>
            <div class="qdp-form-button">
                <input type="submit" id="groupNameSubmit" class="clip">
            </div>
        </form>
    </div>
    </script>
    <script id="tplEditGroupName" type="text/ejs-template">
    <div class="shelf-dialog-name">
        <h3><label for="iptNameEdit">分组名</label></h3>
        <form action="/ajax/BookShelf/UpdateGroup" method="post" class="qdp-form">
            <input type="hidden" id="iptGroupId" name="gid" value="">
            <input type="hidden" name="_csrfToken" value="" id="elCsrftoken" >
            <div class="ui-input-x" style="width:400px;">
                <input id="iptNameEdit" maxlength="20" required name="gname">
                <div class="ui-input"></div>
            </div>
            <div class="qdp-form-button">
                <input type="submit" id="groupNameSubmit" class="clip">
            </div>
        </form>
    </div>
    </script>
            
            <div class="tucao">
                <div class="tucao-wrap">
                    <a href="https://support.qq.com/embed/app/14308?data=6ce8873dee032a6d722095c3f27c0faf863f8de0c3c02d52f9a2dbb4782628cbdad607fe9bbe722ad47fba382ab5704b8d86509d495bec8ba25644f27d0ab319683354d3bd658e951dd7d3f079e5d24b21b9857266d1164cff855ffc8a428ef05e447f405dba397b6252a8c9907eec59ce656246b651b656601dde89b22c533ff65de93ca54cb1536ffca0c3970a2d4e22691db631dc831fa6e1827c3187b49ebcbc76dcbb82f0a02f64905cc554fe404b4e288fb8bf551054b81fcd713fbbdc" class="icon-tucao tTips" target="_blank" title="反馈建议" ><i class="iconfont icon-comment"></i></a>
                </div>
            </div>
            
            <div class="go-top dn">
                <div class="go-top-wrap">
                    <a href="#" class="icon-go-top bTips" title="返回顶部" ><i class="iconfont icon-backtop"></i></a>
                </div>
            </div>
        </div>
            <div class="personal-footer">
                <div class="footer-sub">
                    <a href="//www.yuewen.com" target="_blank">阅文集团</a>旗下网站：
                    <a href="//www.qidian.com" target="_blank" class="mr8">起点中文网</a>
                    <a href="//www.qdmm.com" target="_blank" class="mr8">起点女生网</a>
                    <a href="http://chuangshi.qq.com" target="_blank" class="mr8">创世中文网</a>
                    <a href="http://yunqi.qq.com" target="_blank" class="mr8">云起书院</a>
                    <a href="//www.hongxiu.com" target="_blank" class="mr8">红袖添香</a>
                    <a href="//www.readnovel.com" target="_blank" class="mr8">小说阅读网</a>
                    <a href="//www.xs8.cn" target="_blank" class="mr8">言情小说吧</a>
                    <a href="//www.xxsy.net" target="_blank" class="mr8">潇湘书院</a>
                    <a href="http://www.tingbook.com" target="_blank" class="mr8">天方听书网</a>
                    <a href="http://www.lrts.me" target="_blank" class="mr8">懒人听书</a>
                    <a href="http://yuedu.yuewen.com" target="_blank" class="mr8">阅文悦读</a>
                    <a href="//www.yuewen.com/app.html" target="_blank" class="mr8">QQ阅读</a>
                    <a href="//www.yuewen.com/app.html#appqd" target="_blank" class="mr8">起点读书</a>
                    <a href="//www.yuewen.com/app.html#appzj" target="_blank" class="mr8">作家助手</a>
                    <a href="//www.webnovel.com" target="_blank" class="mr8">起点国际版</a>
                </div>
                <div class="footer-menu">
                    <a href="//www.qidian.com/about/intro" target="_blank">关于起点</a>
                    <a href="//www.qidian.com/about/contact" target="_blank">联系我们</a>
                    <a href="//join.book.qq.com/index.html" target="_blank">加入我们</a>
                    <a href="//www.qidian.com/help/index/2" target="_blank">帮助中心</a>
                    <a href="http://123.206.70.240/online/?cid=0&uid=10&code=0" class="commitAdvice" target="_blank">提交建议</a>
                    <!-- <a href="//wwwploy.qidian.com/help/about_link.aspx" target="_blank">合作伙伴</a> -->
                    <!-- <a href="//bbs.qidian.com" target="_blank">起点论坛</a> -->
                    <!-- <a href="//webgame.qidian.com/jiazhang.html" target="_blank">家长监护工程</a> -->
                </div>
                <div class="footer-copyright">
                    <p>Copyright © 2002-2019 www.qidian.com All Rights Reserved版权所有 上海玄霆娱乐信息科技有限公司</p>
                    <p>网站备案/许可证号：<a target="_blank" href="http://beian.miit.gov.cn/publish/query/indexFirst.action">沪B2-20080046-1</a>  出版经营许可证：新出发沪批字第U3718号  网络文化经营许可证：沪网文[2015]0081-031 新出网证（沪）字010 </p>
                    <p>请所有作者发布作品时务必遵守国家互联网信息管理办法规定，我们拒绝任何色情小说，一经发现，即作删除！</p>
                    <p>本站所收录作品、社区话题、书库评论及本站所做之广告均属其个人行为，与本站立场无关</p>
                </div>
            </div>
        <script>
            // 全局的通用数据都放g_data变量里
            var g_data = {};
            // 环境变量，会按照环境选择性打log
            g_data.envType = 'pro' === 'pro' ? '' : 'pro';
            // 调试模式
            g_data.debug = 'false';
            g_data.static = '//qidian.gtimg.com';
            // 域名
            g_data.domains = {"my":"//my.qidian.com","static":"//qidian.gtimg.com","cover":"//qidian.qpic.cn","pay":"//pay.yuewen.com","security":"//aq.yuewen.com","pc":"//www.qidian.com","hiijack":"//book.qidian.com","activity":"//activity.qidian.com","help":"//www.qidian.com"};
            // 用户
            g_data.user = {"isLogin":true,"avatar":"//qidian.gtimg.com/qd/images/ico/default_user.0.2.png","nickName":"书友20190801104949964","userType":0,"userId":336402645,"guid":"1771947419","tucaoUrl":"https://support.qq.com/embed/app/14308?data=6ce8873dee032a6d722095c3f27c0faf863f8de0c3c02d52f9a2dbb4782628cbdad607fe9bbe722ad47fba382ab5704b8d86509d495bec8ba25644f27d0ab319683354d3bd658e951dd7d3f079e5d24b21b9857266d1164cff855ffc8a428ef05e447f405dba397b6252a8c9907eec59ce656246b651b656601dde89b22c533ff65de93ca54cb1536ffca0c3970a2d4e22691db631dc831fa6e1827c3187b49ebcbc76dcbb82f0a02f64905cc554fe404b4e288fb8bf551054b81fcd713fbbdc"};
            // 用作统计PV
            g_data.pageId = 'qd_P_my_bookshelf';
            // 用作判断用户是否登录
            g_data.isLogin = true;
        </script>
        <script data-ignore="true" src="//qidian.gtimg.com/lbf/2.0.0.1/LBF.js?max_age=31536000"></script>
        <script>
            // LBF 配置
            LBF.config({
                paths: {
                    qdp: '//qidian.gtimg.com/qdp',
                    common: '//qidian.gtimg.com/common/1.0.0'
                },
                vars: {
                    theme: '//qidian.gtimg.com/qdp/css',
                },
                combo: true,
                debug: false
            });
            //设置页面常用的一些插件
                LBF.use(['lib.jQuery', 'monitor.SpeedReport', 'qdp/js/common/page/index.0.74.js', 'qdp/js/shelf/index.0.55.js'], function ($, SpeedReport, pageCommon, page) {
                    pageCommon.init();
                    page.init();
                $(window).on('load.speedReport', function () {
                    // speedTimer[onload]
                    speedTimer.push(new Date().getTime());
                    var f1 = 7718; // china reading limited's ID
                    var f2 = 251; // site ID
                    var f3 = 0; // page ID
                    // chrome & IE9 Performance API
                    SpeedReport.reportPerformance({
                        flag1: f1,
                        flag2: f2,
                        flag3IE: f3,
                        flag3Chrome: f3,
                        rate: 0.1
                    });
                    
                    var speedReport = SpeedReport.create({
                        flag1: f1,
                        flag2: f2,
                        flag3: f3,
                        start: speedZero,
                        rate: 0.1
                    });
                    
                    for (var i = 0; i < speedTimer.length; i++) {
                        speedReport.add(speedTimer[i], i + 20);
                    }
                    
                    speedReport.send();
                });
            });
            speedTimer.push(new Date().getTime());
        </script>
        
           <script>
                var _mtac = {"senseQuery":1};
                (function() {
                    var mta = document.createElement("script");
                    mta.src = "//pingjs.qq.com/h5/stats.js?v2.0.4";
                    mta.setAttribute("name", "MTAH5");
                    mta.setAttribute("sid", "500445303");
                    mta.setAttribute("cid", "500446496");
                    var s = document.getElementsByTagName("script")[0];
                    s.parentNode.insertBefore(mta, s);
                })();
            </script>
        
</body>
</html>
